{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listen to Talk Tech Teen Tech</title>
    <link rel="stylesheet" href="{% static 'comingsoon.css' %}">
</head>
<body>
    <div class="container">
        <div class="menu">
            <ul>
                <li class = "logo"><img src="{% static 'images/icon-1.png' %}"></li>
                <li><a href = "index" class = "link" style = "text-decoration: none;">Home</a></li>
                <li><a href = "listen" class = "link" style = "text-decoration: none;">Listen</a></li>
                <li class = "active">Premium Techy</li>
                <li><a href = "prodospecs" class = "link" style = "text-decoration: none;">Product Specs</a></li>
                <li><a href = "contact" class = "link" style = "text-decoration: none;">Contact</a></li>
                <li><a href ="signup" class ="signup-btn"><span>Sign Up</span></a></li>
            </ul>
            <h1>Coming Soon!</h1>
        </div>
    </div>
</body>